/* CSS DOCUMENT */

*{
margin: 0px;
padding: 0px;
}

body{
font: normal 12pt carlito;
}

/* ------------------------------ MENU TOPO */

#btn_tema{
height:30px;
width:30px;
border-radius:50%;
font-size: 08px;
margin:0 550px 0 0;
}

.menu_top{
background: black;
}

.menu_top ul{
display:flex;
justify-content: flex-start;
border: 1px solid black;
align-items:center;
}

.menu_top li {
margin-right: 15px;
text-decoration: none;
list-style-type:none;
}

.menu_top a{
text-decoration: none;
font-weight:bold;
}

a:link{
color:white;
}

a:visited{
color:white;
}

a:hover{
color: orange;
}
/* --------------------------------------------*/

main{
display:flex;
/* border: 1px solid blue; */
}

aside{
/* border: 1px solid green; */
margin: 10px 10px 10px 15%;
}

.marinha{
width:50%;
margin: 10px 10px 10px 10px;
/* border: 1px solid red; */
}

.marinha h1{
text-align:center;
text-shadow: 1px 1px 10px blue;
}

.marinha_f{
width: 50%;
}




